h1{
  font-size: 3em;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
body{
  background-color: #334357;
  color: #D7DEE0;
  text-align: center;
  margin:auto;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1.5;
}
@media screen and ( max-width: 500px ){
    body{
      margin-left: 20px;
      margin-right: 20px;
    }
}
ul{
  text-align: left;
}
#typing{
  max-width: 80%;
  max-height: 100%;
  z-index: -1;
  position: fixed;
  top: 160px;
  left:10%;
  right:10%
}
@media screen and ( max-width: 500px ){
  #typing{
    display: none;
  }
}

@media screen and (min-width:501px) {
  #me{
      margin-bottom: 150px;
  }
}
#me{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 300px;
  width: 300px;
  max-width: 100%;
}

h3{
  font-size: 3em;
  margin-top: 30px;
  color:white;
  font-family: 'Satisfy', cursive;
}
.baseSection{
  background-color:#2A2A2A;
  padding: 10px;
}
@media screen and ( min-width: 500px ){
  .baseSection{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 100px;
  }
}


.logos img{
  width: 130px;
  height: 130px;
  padding: 10px;
}
#exclesior{
  max-width: 100%;
}
